@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantora+One&family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantora+One&family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Shrikhand&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantora+One&family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&family=Shrikhand&family=Sigmar+One&display=swap');

html{

}
body{
    /*background: radial-gradient(#fff8f8, #bb7221);*/
   /* background: radial-gradient(#fff8f8, #90673a);*/
  /* background: radial-gradient(#ffffff, #9c672d);*/
  background: url(assets/Fondo-2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
height: 100%;
}
#banner{
    padding-inline: 70px;
    transform: perspective(700px) rotateX(-0.03deg) rotateY(0.03deg);
    transition: 800ms;
    overflow: hidden;
    margin: 20px;
    border-radius: 30px;
   background: rgba(0, 0, 0, 0.274);
    position: relative;
 /*   background-image: url(assets/Fondo.png);*/
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
} 
#banner:hover{
    transform: perspective(700px) rotateX(2.97deg) rotateY(0.03deg);

}
.menu-bar{
    display: flex;
}

.cnt nav {
align-items: center;
height: 100%;
z-index: 1;
}

.cont-inf{
    margin-top: 8%;
    margin-bottom: 4%;

}

.cnt header{
    z-index: 2;
    position: relative;
   /* max-width: 1100px;*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 20px;
    height: 20%;
}
.cnt header .logo{
    font-family: 'M PLUS Rounded 1c';
    color: #ffffff;
    text-decoration: none;
}
.nv{
    margin-bottom: 6%;

}
.cnt nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgb(0 0 0 / 27%);
    background: #00000024;
    display: flex;
    list-style: none;
    transition: 300ms;
}
.cnt nav ul:hover{
    box-shadow: 0px 5px 13px 3px rgb(0 0 0 / 27%);
}
.cnt nav ul li{
display: inline-block;
}
.cnt nav ul li a{
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding:3px;
    transition: .5s;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}
.cnt nav ul li a:hover {
    color: white;
    text-shadow: 1px 0px 9px rgb(0, 0, 0); 
}

.informacion{
    gap: 3px;
 /*   width: 50%;*/
    position: relative;
    z-index: 1;
}

.informacion span{
    font-size: 20px;
    color: white;
    text-align: left;
}  

.slider-small{
    display: none;
}
.slider{
z-index: 0;
left: 48%;
position: absolute;
top: 8%;
width: 100%;
transform: rotate(13deg);
transition: 1s;
}

.control-slider{
display: flex;
column-gap: 11px;
align-items: center;
justify-content: left;
}
.im1 {
    width: 400px;
}
.im1 img{
transition: 400ms;
width: 95%;
}
.im1 img:hover{
    width: 100%;
}
.sombra{
    z-index: 0;
    right: 547px;
    top: -228px;
    position: absolute;
    width: 68%;
    height: 137%;
    border-radius: 52%;
}
#imL{
    left: -3px;
    width: 41%;
    top: -29px;
    position: absolute;
    filter: blur(3px);
    transition: 1s;}
.linea{
    background: #ffffff8f;
    border-radius: 24px;
    left: 0px;
    position: relative;
    width: 137px;
    height: 4px;
  /*  top: 20px;*/
    transition: 400ms;
}
/*---Articulo 1*/
.articulo1{
    border-radius: 30px;
   /* background: url(assets/Fondo.png);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    padding: 50px
}
.articulo2{
    border-radius: 30px;
   /* background: url(assets/Fondo.png);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;

}
.articulo1::before {
    border-radius: 30px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 36%); /* Color del filtro (negro con 50% de opacidad) */
  }
  .articulo2::before {
    border-radius: 30px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 36%); /* Color del filtro (negro con 50% de opacidad) */
  }
.articulo1, .articulo2 h1{
z-index: 1;
 position: relative;
 margin: 13px;
 font-family: "Shrikhand", serif;
 font-weight: 400;
 font-style: normal;
 font-size: 27px;
 color: #ffffff;
}
.promo{
    top: 0;
    position: relative;
    text-align: center;
    padding: 0px;
    color: #000000;
    transition: all 200ms ease; 
    display: flex;
 }
.promo:hover{
    top: -5px;
}
.img-art{
    position: relative;
    z-index: 1;
    width:84%; 
    border-radius: 100%;
    box-shadow: 4px 3px 11px 2px rgb(0 0 0 / 36%);
}
.cont-descr{
    display: flex;
    position: relative;
    margin: auto;
    border-radius: 28px;
    top: -19%;
    height: 73%;
    background: rgba(255, 255, 255, 0.527);
    box-shadow: inset 0px 2px 9px 0px rgb(255 255 255 / 86%);
}
.cont-descr .text p{
    text-align: -webkit-match-parent;
    padding: 4px;
    margin-top: 84px;
    font-size: 20px;
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#articulo1 .sec-1{
    display: flex;
    justify-content: center;
}
.sec-body{
    gap: 59px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sec-body-main{
    display: flex;
    gap: 10px;
}
.cart{
    display: inline-table;
    height: 363px;
    position: relative;
    color: white;
    padding: 30px;
    font-weight: 400;
    font-style: normal;
    border: 2px solid #ffa500c4;
    background: #b2891f82;
    width: 25%;
    border-radius: 20px;
    transition:  500ms ;
    box-shadow: inset -8px -1px 10px rgba(0, 0, 0, 0.5), 12px 6px 10px 5px rgba(0, 0, 0, 0.5);
    transform: perspective(700px) rotateX(-0.03deg) rotateY(349deg);
}
.cart:hover{
    transform: perspective(700px) rotateX(-0.03deg) rotateY(359deg);
}
.cart h2{
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

}
.cart p{
    font-size: 13px;
    font-family: "Cantora One", sans-serif;
}
.cart button{
    font-size: 10px;
    background: #000000;
    color: white;
    padding: 11px;
    border-radius: 37px;
    font-family: "Cantora One", sans-serif;
    transition: 300ms;
}
.cart button:hover{
    font-size: 11px;
}

/*---Articulo 2*/

#article2 p{
position:relative;
color:white;
z-index: 1;
}
#article2 .sec-1{
    margin-inline: auto;
    height:76%;
    overflow: auto;
}

.prod{
    display: flex;
    position: relative;
    height: 47%;
}

.prod-ds{
    padding: 12px;
    background: #c38d0069;
    box-shadow: -2px 6px 14px 4px rgba(0, 0, 0, 0.5);
}
.prod-ds h2{
    color: white;
    font-size: 20px;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    
}
.prod-ds p{
    font-size: 20px;
    width: 70%;
}
.cont1, .cont2{
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
}
.cont1  .prod-ds{
    left: 33px;
    position: relative;
    border-radius: 21px;
}

.cont1 .prod{
    transition: 300ms;
    left: 0;
}
.cont1 .prod:hover{
    left: 20px;
}
.cont1 .prod img{
    right: 33px;
    width: 34%;
    position: relative;
    border-radius: 100%;
    box-shadow: 7px 1px 12px 3px rgb(33 33 26 / 50%);
}
.cont2 .prod{
    transition: 300ms;
    right: 0;
}
.cont2 .prod:hover{
    right: 20px;
}
.cont2 .prod img{
    z-index: 1;
    width: 34%;
    left: 33px;
    position: relative;
    border-radius: 100%;
    box-shadow: -6px 2px 12px 3px rgb(33 33 26 / 50%);
}
.cont2 .prod-ds {
    text-align: right;
    right: 33px;
    position: relative;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

/* footer */
footer{
   /* display: flex;*/
    background: url(assets/footer2.png);
    height: 300px;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
footer ul {
    list-style: none;
    color: white;
    font-size: 20px;
    
}

.iconos img{
    position: relative;
    top: 0px;
    width: 39px;
    transition: 300ms;
}
.iconos img:hover{
    top: -4px;
}
.navbar-toggler-icon {
}

/*-------------------------*/
@media (max-width:1200px){
    .slider{
        display: none;
    }

    #article2{
        padding-inline: 44px;
    }

 /*   .sec-body-s{
       display: flex;
        justify-content: center;
        background: rebeccapurple;
        display: flex;
        flex-direction: row;
        align-content: center;
    }*/
 /*   .sec-body {
        gap: 0px;
        align-items: center;
    }*/
   /* .promo{
      background: red;
        height: 338px;
    }
    .sec1{
        padding-inline: 10%;
    }*/
}
/*------------------------*/
@media (max-width:768px){
    .sec-body-s{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      /*  background: green;*/
    }
    .logo,.cont-span{
        justify-content: center;

    }
    .cont-span span{
        padding: 20px;
      /*  background: #00000038;*/
        width: 79%;
        font-size: 17px;
        text-align: center;
        border-radius: 20px;
        box-shadow: inset 1px -1px 12px 13px rgb(0 0 0 / 11%);
    }
    #imL{
        width: 62%;
        top: 2px;
    }  
    #banner{
        padding-inline: 7px;
    }
    #article2{
        padding-inline: 0px;
    }
    .promo{
       /* background: rgb(25, 0, 255);*/
    }
    .cont-descr .text p{
        font-size: 17px;

    }
    .sec-body .row{
     /*  background: red;*/
       flex-wrap: nowrap;
       justify-content: center;
    }
}
/*----------------------*/
@media (max-width:576px){
  
    .prod-ds h2 {
        font-size: 14px;
    }
    .prod-ds p{
        font-size: 10px;
    }
    #article2 .sec-1{
        gap: 12px;
        display: flex;
    }
    .iconos{
    /* background: red;*/margin-top: 3rem !important;
        display: flex;
        flex-direction: column;
    }
    #article2{
        padding-inline: 0px;
    }
    .promo{
        width: 70%;
       /* background: rebeccapurple;*/
     }
    .cont-descr .text p{
        font-size: 11px;

     }
}
/*------------------------*/
@media (max-width:320px){
  
}

@media (max-width:375px){
    .articulo1 {
        padding: 11px;
    }
    .sec-body .cart{
        transform:none;
        width: 80%;
    }
}

@media (max-width:425px){
 
    .slider {
        display: none;
      }
      .slider-small{
          display: flex;
          z-index: 0;
          left: 50%;
          position: absolute;
          top: 5%;
          width: 123%;
          transform: rotate(0deg);
          transition: 1s;
      }
      .cont-linea{
          width: 74%;
      }
      .logo{
          justify-content: flex-start;
      }
      .cont-control-slider {
          width: 72%;
          margin: 0 !important;
      }
      footer{
          display: flex;
          justify-content: center;
      }
      .iconos{
       /*   background: rgb(9, 255, 0);*/
          display: flex;
          flex-direction: row;
      }
      .prod-ds h2{
          width: 72%;
      }
      .articulo2{
          margin: 0px;
      }
      .prod-ds p {
          width: 68%;
      }
      .articulo1, .articulo2 h1{
          margin: 0px;
          padding: 0px;
      }
      .sec-body .cart{
          transform:none;
          width: 80%;
      }
      .cont-span{
          justify-content: flex-start;
          width: 88%;
      }
      .cont-span span{
          font-size: 14px;
          text-align: left;
          box-shadow: inset 0 0 0 0 rgb(0 0 0 / 11%);
      }
      #banner{
          margin: 0px;
          background: none;
          border-radius: 0px;
      }
      .sec-body {
          gap: 52px;
      }
      .cont-descr {
          height: 78%;
      }
      .cont-descr .text p {
          margin-top: 51px;
      }
      .promo{
          height: 193px;
      }
      .articulo2::before {
          display: none;
      }
      .articulo1::before {
          display: none;
      }
      .cnt{
          display: flex;
          gap: 20px;
          flex-direction: column;
  
      }
      .informacion{
        width: 82%;
      }
      .nv{
          margin: 0px;
      }
      .cont-inf{
          margin: 0px; 
      }
      .iconos{
        gap: 8px;
      }
      .iconos a{
        display: flex;
      }
     /*.container {
          padding-right:0 !important;
          padding-left:0 !important;
      }*/
     
}